@import "tailwindcss"
* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        label {
            position: relative;
            height: 250px;
            width: 500px;
            background-color: rgb(234, 230, 230);
            border-radius: 500px;
        }

        input {
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 500px;
            transition: .5s;
            appearance: none;
            background-color: black; 
            box-shadow: 0px 0px 0px 12px rgba(66, 68, 90, 0.65),0px 0px 1px 14px rgba(94, 71, 68, 0.5),inset 0px 0px 8px 14px rgba(151, 116, 111, 0.7);
        }

        input:checked {
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 500px;
            appearance: none;
            background-color: rgb(255, 255, 255);
            transition: .5s;
        }

        span {

            background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 11px 8px rgba(160, 155, 154, 0.7);
            height: 100%;
            transform: scale(.9);
            border-radius: 50%;
            width: 50%;
            position: absolute;
            top: 0;
            left: 0;
            transition: .5s;

        }

        span::before {
            content: " ";
            height: 40px;
            width: 40px;
            background-color: rgb(0, 0, 0);
            position: absolute;
            top: 28%;
            left: 21%;
            border-radius: 50%;
            box-shadow: 100px 0 0 rgb(0, 0, 0);
        }

        span::after {
            content: " ";
            height: 40px;
            width: 100px;
            background-color: rgb(0, 0, 0);
            position: absolute;
            top: 65%;
            left: 30%;
            border-radius: 20px;
        }

        input:checked~span::after {
            background-color: rgb(255, 255, 255);
            transform: .5s;
            height: 50px;
            border-radius: 0;
            -webkit-border-radius: 5px 5px 250px 250px; 
        }

        input:checked~span::before {
            background-color: rgb(255, 255, 255);
            box-shadow: 100px 0 0 rgb(255, 255, 255);
            transition: .5s;
        }

        input:checked~span {
            background-color: rgb(0, 0, 0);
            height: 100%;
            transform: scale(.9);
            border-radius: 50%;
            width: 50%;
            position: absolute;
            top: 0;
            left: 50%;
            transition: .5s;
        }

        body {
            background-color: #fff;
            transition: .5s;

        }

        body:has(input:checked) {
            background-color: rgb(0, 0, 0);
            transition: .5s;
        }